body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #15202B;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    overflow: auto;
}

.titulo-enlace {
    text-decoration: none;
    color: #ffffff;
}

.titulo-enlace:hover {
    text-decoration: none;
    color: #ffffff;
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boton {
    padding: 18px 36px;
    font-size: 30px;
    background-color: #1DA1F2;
    color: #ffffff;
    border: 2px solid #1DA1F2;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.boton:hover {
    background-color: transparent;
    color: #1DA1F2;
    border: 2px solid #ffffff;
}

.boton:active {
    transform: scale(0.95);
    border: 2px solid #ffffff;
}

/* Responsive */

/* Estilos para pantallas medianas (1280x720) y pantallas pequeñas (dispositivos móviles) */
@media only screen and (min-width: 640px) and (max-width: 1280px) and (min-height: 360px) and (max-height: 720px),
       only screen and (max-width: 600px) {
    .boton {
        padding: 20px 40px;
        font-size: 24px;
        border-radius: 10px;
    }

    .container {
        padding: 20px;
    }

    .row {
        flex-direction: column;
    }

    .input-container {
        flex: 1 1 100%;
        margin-bottom: 15px;
    }

    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .help-content {
        width: 90%;
        top: 5%;
    }
}

/* Estilos para pantallas grandes (mayores a 600px de ancho) */
@media only screen and (min-width: 600px) {
    .indicador-flecha {
        top: calc(65% + 20px);
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Estilos para pantallas pequeñas (menores o iguales a 600px de ancho) */
@media only screen and (max-width: 600px) {
    .indicador-flecha {
        display: none;
    }
    .boton {
        padding: 24px 48px;
        font-size: 28px;
        border-radius: 16px; 
    }
}

/* Estilos adicionales para la marca en pantallas pequeñas */
@media only screen and (max-width: 300px) {
    .marca-agua {
        display: none;
    }
}

/* Agrega la animación de entrada para la calculadora de notas */
#calculatorContainer {
    animation: slideIn 1s cubic-bezier(0, 0.75, 0.25, 1);
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para la Nota Definitiva 1 */
#notaDefinitiva1 {
    border: none;
    background: none;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: none;
    border-color: transparent;
}

/* Estilos para la Nota Definitiva 2 */
#notaDefinitiva2 {
    border: none;
    background: none;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: none;
    border-color: transparent;
}

/* Estilos para la Nota Definitiva 3 */
#notaDefinitiva3 {
    border: none;
    background: none;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: none;
    border-color: transparent;
}

/* Estilos para la Nota Definitiva Total */
#notaDefinitivaTotal {
    border: none;
    background: none;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: none;
    border-color: transparent;
}

#notaDefinitivaTotal::placeholder {
    color: white;
}

.container {
    display: none;
    width: 100%;
    max-width: 600px;
    background-color: #192734;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input-container {
    flex: 1 1 calc(45% - 10px);
    margin-bottom: 20px;
}

/* Estilos para los inputs de notas */
input[type="text"] {
    width: calc(100% - 40px);
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #1DA1F2;
    border-radius: 5px;
    background-color: #192734;
    color: #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box; /* Añadido para solucionar el problema de padding y width */
}

/* Estilo al enfocar el input */
input[type="text"]:focus {
    border-color: #ffffff;
    box-shadow: none;
    outline: none;
}

/* Estilo para mostrar mensajes de error en los inputs */
.error {
    border-color: #ff4d4d;
    box-shadow: 0 0 8px rgba(255, 77, 77, 0.7);
}

/* Estilo para los resultados */
.result {
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
}

/* Etiqueta de los inputs */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.pass-fail-message {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    height: 50px;
    color: #ffffff;
}

.reset-button {
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: #ffffff;
    transition: color 0.3s, transform 0.3s;
}

.reset-button:hover {
    color: #1DA1F2;
    transform: scale(1.1);
}

.help-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    transition: transform 0.3s cubic-bezier(0, 0.75, 0.25, 1);
    outline: none;
}

.help-button:hover {
    transform: scale(1.25);
    transition: transform 0.3s cubic-bezier(0, 0.75, 0.25, 1);
}

.help-button.active {
    transform: rotate(180deg);
    transition: transform 0.3s cubic-bezier(0, 0.75, 0.25, 1);
    outline: none;
}

.help-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    overflow-y: auto;
}

.help-content {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 600px;
    padding: 20px;
    background-color: #192734;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.help-content::before,
.help-content::after {
    content: "";
    display: block;
    height: 20px;
}

.marca-agua {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #8899a6;
    font-size: 18px;
}

.indicador-flecha {
    position: fixed;
    font-size: 36px;
    color: #1DA1F2;
    opacity: 0;
    animation: parpadeo 1s infinite alternate;
}

@keyframes parpadeo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
